@import url(../stylesheets/styles.css);

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block-start: 50px;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 2.5rem;
    list-style: none;
    font-weight: 600;
}

.sign-up-btn {
    background-color: var(--brown);
}

