/* root declaration and variables */
:root {
    --brown: #CAA892;
    --black: #111111;
    --green: #37806B;
    --grey: #646464;
}

/* all elements should have these */
* {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* general styles */
.section {
    padding-inline: 250px;
}

/* active for current page link */
.active {
    color: var(--grey);
}

/* curvy buttons */
.curve {
    border-top-left-radius: 0.9rem;
    border-bottom-right-radius: 0.9rem;
    font-weight: 600;
    font-size: 1rem;
}

/* for headings */
.heading {
    font-family: Poppins, sans-serif;
    font-size: 48px;
    font-weight: 500;
}

/* for small top headings */
.small-heading {
    color: var(--grey);
    font-weight: 600;
    font-size: 20px;
}

main  {
    display: flex;
    flex-direction: column;
    gap: 120px;
}

/* big paragraph headings */
.big-p-text {
    font-size: 50px;
    font-weight: 500;
    line-height: 65px;
    font-family: Poppins, sans-serif;
}